.cells__container {
    display: flex;
    overflow: scroll;
    height: 600px;
}

.table {
    border: 1px solid #000000;
    position: relative;
    border-collapse: collapse;
}

.table__th {
    position: sticky;
}

.table__cell {
    max-width: 92px;
    height: 32px;
    min-width: 95px;
    text-align: center;
    border: 1px solid #000000;
}

.table__cell_header {
    width: 92px;
    height: 32px;
    font-weight: 400;
    text-align: center;
    border: 1px solid #000000;
    background-color: #dddddd;
}

.input {
    min-width: 10px;
}


@media (max-width: 400px) {
    .table__cell {
        min-width: 50px;
        max-width: 50px;
    }
  }