.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  font-size: 24px;
  gap: 10px;
  font-weight: 400;
}

.count {
  background-color: #f1ecec;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  min-width: 100px;
  padding: 7px 5px;
  border: 1px solid #787878;
  height: 40px;
  font-size: 16px;
}

.button {
  cursor: pointer;
  padding: 10px 30px;
  height: 40px;
  font-size: 16px;
}