.form {
  width: 400px;
  padding: 10px;
}

.row {
  height: 25px;
  width: 100%;
  display: flex;
  align-items: center;
}

.leftColumn {
  width: 30%;
}

.rightColumn {
  width: 70%;
}

.button {
  margin-top: 10px;
  width: 100%;
}