.crud__wrapper {
    max-width: 440px;
    width: 100%;
}

.crud__label {
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
}
.crud__prefix {
    max-width: 100px;    
}

.crud__form {
    display: flex;
    justify-content: space-between;
}

.form {
    display: flex;
    width: 100%;
    flex-direction: column;
}
.crud__wrapper input {
    padding: 10px;
    margin: 5px 0;

}
.data_list {
    padding: 6px;
    width: 170px;
    font-size: 16px;
}
.form__body {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
    align-items: center;
}

.form__list {
    display: flex;
}

.form__inputs {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.form__buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}
.form__buttons button {
    font-size: 14px;
    padding: 5px 15px;
}

.input__data {
    max-width: 100px;

}

@media (max-width: 300px) {
    .form__buttons {
        flex-direction: column;
    }

    .inputContainer {
        flex-direction: column;
    }
}