#flightType {
    padding: 10px;
    height: 40px;
    font-size: 16px;
}
.date-input {
    box-sizing: border-box;
    margin-top: 10px;
    width: 150px;
    font-size: 16px;
    padding: 10px;
}

.date-input--invalid {
    background-color: #ff9999;
}

.button {
    margin-top: 10px;
    width: 150px;
    height: 30px;
    font-size: 16px;
}
