.container {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#flightType {
    padding: 10px;
    height: 40px;
    font-size: 16px;
}

.formItem {
    width: 100%;
    max-width: 350px;
}

.date-input {
    box-sizing: border-box;
    margin-top: 10px;
    font-size: 16px;
    width: 100%;
    padding: 10px;
}

.date-input--invalid {
    background-color: #ff9999;
}

.button {
    margin-top: 10px;
    height: 30px;
    font-size: 16px;
}
